/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 25, 2017, 4:05:25 PM
    Author     : om
*/

.breadcrumb {
    display: none;
}
.logo {
    margin: 0 !important;
}
/*.logo img {
    width: 190px !important;
    margin-left: 10px !important;
}*/
.logo img {
    width: 160px !important;
    margin-left: 10px !important;
    margin-top: 7px !important;
}
/*.logo {
    margin: 0 !important;
}
.logo img {
    width: auto !important;
}*/

.gallery-img {
    max-width: 360px;
    max-height: 200px;
}

.img-container{
    max-height: 100px;
    width: auto;
    margin-bottom: 5px;
}

.img-container .img{
    max-height: inherit;
    width: auto;
}

.sidebar_head_text {
    padding: 10px 15px;
    color: #fff;
    font-weight: bold;
}

.img-small{
    max-width: 50px !important;
    height: auto !important;
}

.btn{
    /*color: #fff !important;*/
}
.image-profile img {
    width: auto !important;
    max-height: 220px !important;
}
.form-group {
    min-height: 20px;
}
.img-medium{
    width: auto !important;
    max-height: 220px !important;
}
/*.discussion_container {
    display: inline-block;
    max-height: 300px;
    overflow: auto;
}*/

label[for="old_password"],
label[for="new_password"],
label[for="confirm_password"]{
    display: none !important;
}
label.error{
    display: inline-block !important;
}
.sidebar-menu {
    margin-top: 15px;
}

.header-left{
    background-color: #354052;
    width: 265px;
}
.wrapper #header {
    background-color: #fff;
    border-bottom: 2px solid #ccc;
}

body {
    background: RGB(246,247,251)! important;
    color: #8A95A5;    
}
.wrapper .content{
    border-top: 3px solid #fff;
}
.left-menu-toggle i, .right-menu-toggle i {
    font-size: 33px;
    vertical-align: middle;
}
.logo img {
    width: 160px !important;
    margin-left: 10px !important;
    margin-top: 10px !important;
    margin-bottom: 6px;
}
@media (max-width: 479px) {
    .header-left {
        width: 100%; }
}
/*.site-content-title {
    background: #efefef;
    overflow: hidden;
}*/
#sidebar.custom-sidebar .sidebar-menu.custom-sidebar-menu .site-menu > li:hover,
#sidebar.custom-sidebar .sidebar-menu.custom-sidebar-menu .site-menu > li.active {
    background-color: #2f3949;
    border-left: 4px solid rgb(83, 170, 224);
}
#sidebar.custom-sidebar .sidebar-menu.custom-sidebar-menu .site-menu li a:hover,
#sidebar.custom-sidebar .sidebar-menu.custom-sidebar-menu .site-menu li a.active {
    /*    background-color: #2f3949;
        border-left: 4px solid rgb(83, 170, 224);*/
}
#timeline {   
    width: 100%;
}
.center_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.media-gallery .dropify-render img{
    width: auto;
}
.media-gallery .dropify-wrapper {
    max-width: 250px;
    margin: 0 auto;
}
.custom-sidebar .menu-title .main-menu li:before,
.custom-sidebar .menu-title .main-menu li:after{
    display: none;
}
.custom-sidebar .menu-title .main-menu {
    padding-bottom: 0;
}
.custom-sidebar .sidebar-menu.custom-sidebar-menu .site-menu li {
    padding-left: 0 !important;
}

.custom-sidebar .menu-title .main-menu {
    padding-left: 0 !important;
}
body:not(.nav-menu-icon) .site-menu .sub-item.active .sub-menu {
    padding: 0 0 0 20px;
}
body:not(.nav-menu-icon) .site-menu .sub-item.active .sub-menu li::after{
    display: none;
}

.custom-sidebar .menu-title > i,
.custom-sidebar .menu-title > span{
    display: none;
}
.custom-sidebar .menu-title::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #333;
    content: "";
    padding: 0px 0;
    /* left: 0; */
}
@media (min-width: 479px){
    .left-menu-toggle{
        display: none;
    }
}


.nav-tabs .nav-item.open .nav-link, .nav-tabs .nav-item.open .nav-link:focus, .nav-tabs .nav-item.open .nav-link:hover, .nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover {
    border-bottom: 3px solid RGB(226,33,68)!important;
}


.table-overflow {
    overflow: auto;
}



.side-nav-logo {
        background: RGB(229, 31, 68);
        
    }

.side-nav-logo .logo {
    padding: 0px 30px;
}

.side-nav-menu {
    height: auto!important;
}

.side-nav-menu li {
    border-bottom: 1px solid RGB(230,236,245);
}
.side-nav-inner .nav-item:hover {
    background-color: RGB(230,236,245);
}
.side-nav-inner .nav-item span {
    background-color: white;
    font-size: 14px;
    color: black;
}
.side-nav .side-nav-inner .side-nav-menu > li > a {
    padding: 0px;
    margin-top: 0px!important;
}

.side-nav .side-nav-inner ul {
    padding: 15px 0px!important;
}

.side-nav .side-nav-inner ul > li {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px !important;
}

.side-nav-inner .nav-item span {
    background-color: transparent;
}

.side-nav-inner .card {
    border-radius: 0px;
    border: none;
    border-right: 1px solid RGB(230,236,245); 
    margin: 0px;          
}

.widget-profile-1 img {
    width: 60px;
    height: 60px;
    margin-top: 8px!important;
}

.widget-profile-1 h4 {
    font-size: 14px;
}

.widget-profile-1 p {
    padding-bottom: 0px;
    font-size: 11px;
    color: RGB(225,225,225);
    margin-bottom: 8px;
}

.widget-profile-1 .profile {
    padding: 0px;
}

textarea.form-control {
    min-height: 80px!important;
}

.icon-dashboard {
    background: url(/img/dashboard.png);
}

.icon-request {
    background: url(/img/request.png);
}

.icon-settings {
    background: url(/img/setting.png);        
}

.icon-narrow-right {
    background: url(/img/narrow_right.png);        
    float: right;
}

.icon-holder {
    vertical-align:middle;
    background-size: 100%;
    background-repeat: no-repeat;   
    background-size: 29px 29px;     
}

.side-nav-menu .title {
    color: RGB(20,54,73)!important;
    font-weight: 400;
}

.page-title h4 {
    font-size: 28px;
}

.nav-item span {
    vertical-align: middle;
}

.nav-item .arrow {
    right: 23px!important;
}

.profile-arrow {
    position: absolute; 
    right: 23px!important; 
    top: 65px;
    line-height: 40px; 
    font-size: 10px; 
    transition: all 0.05s ease-in; 
    -webkit-transition: all 0.05s ease-in; 
    -moz-transition: all 0.05s ease-in; 
    -o-transition: all 0.05s ease-in; 
    -ms-transition: all 0.05s ease-in;
}

.side-nav-item {
    overflow: auto;
    height: calc(100vh - 65px) + 300px;
}

.add_request_table tbody th{
    font-size: 10px;
    font-weight: normal;
    padding: 5px;        
    border-bottom: 1px solid;
}

.add_request_table thead th{
    font-size: : 12px;
    border-top: none; 
    /*padding: 5px;*/
}

.page-title {
    padding: 0 37px;
}
.card .fa {
    padding-left: 50px;
}
.image-upload > input{
    display: none;
}

.image-upload img {
    width: 30px;
}

.file-input {
    border-radius: 4px;
    border: solid #ec1c41 1px;
    padding: 5px 13px;
    cursor: pointer;
    font-size: 12px;
}

.image-upload span {
    color: #ec1c41;
    margin-left: 8px;
}

.add_request_table th.action a{
    margin-left: 20px; 
    color: #888da8;
}

.add_request_table th.action {
    text-align: right;
}

.all-requests-item {
    padding-right: 0px!important; 
}

.all-requests-item .card-title {
    font-size: 18px;
    margin-bottom: 0px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 95%;
}

.all-requests-item .card-status {
    color: RGB(120,214,101);
    font-size: 11.3px;
    margin-bottom: 0px;
}

.all-requests-item .card-des {
    font-size: 13px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    width: 95%;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-height: 40px;        /* fallback */
    max-height: 80px;
    height: 80px;
    margin: 0px;
    padding: 0px;
}

.all-requests-item .card-date {
    padding-top: 0px; 
    font-size: 13px;

}

.all-requests-item .card-item-header {
    padding-top: 15px;
}

.all-requests-item .card-footer {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.all-requests-item .card-footer img {
    height: 11px;
    width: 16px;
}

.all-requests-item .card-footer button {
    padding: 5px 13px;
}

.page-title h4 {
    font-size: 25px!important;
    margin-bottom: 5px!important;
}

.all-requests-item .card-block {
    padding-bottom: 0px;
}